@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


 html{
     margin: 0;
     padding: 0;
     overflow-x: hidden;
     height:100%;
 }
 .navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    /* the rest of your styling */
}

 #nav-title
 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
 }

  body{
    height:100%;
  }
  .intro{
    height:100%
  }
  
  .left{
   
    background-color:#f8f9fa;
    height : 100vh;
    color : #000;
  
  }
  .right{
    display : flex;
    justify-content : center;   
    background-image: url(../img/qutb-minarjpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:blue;
    height : 100vh;
    color : #FFF;
  }
  
  .overlay{
      
      padding: 0;
      height : 100vh;
      opacity: 0.9;
      width: 100%;
      background: #E55D87;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to bottom, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to bottom, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  .location,.description{
      justify-content: center;
      align-items: center;
      display: flex;
  }

table{
    font-size: 1.5rem;
    font-family: monospace;
}
  /* @media (max-width: 1200px) { 
    .left{
      height:50%
    }
    .right{
      height:50%
    }
  } */

  .city-name h2{
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
  }
 
  .btnOutline{
    color: white;
    background-color: #2B9DDF;
    width: 250px;
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    outline: none;
    letter-spacing: 0.2em;
    border: none;
}

  .about{
    display : flex;
    justify-content : center;
    align-items : center;
    background-color:#000;
    color : #FFF;
    height:100%
  }
/*    ######     Responsive     #####    */
@media screen and (max-width: 748px) {
    .main-title{
        margin-left: 0;
    }
  } */