@media screen and (max-width: 992px) {
    .title {
        z-index: 0.5;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 200px;
        padding-left: -10px;
    }
    .title h1
    {
        font-size: 2rem;
        color: #fff;
        width: 250px;
        margin-left: -15px;
        margin-bottom: 20px;
    }
  }
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 600px) {
    .title {
        z-index: 0.5;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 200px;
        transform: translate(-50%,-50%);
    }
    .title h1
    {
        font-size: 2rem;
        color: #fff;
        width: 250px;
        margin-left: -15px;
        margin-bottom: 20px;
    }

    #input-map
    {
        width: 250px;
        margin-left: -20px;
    }
    #map-example-container
    {
        width: 250px;
        height: 200px;
        margin-left: -20px;
    }
  }